table {
	width: 90%;
	margin: 20px auto;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.center {
	text-align: center;
}

img {
	width: 100px;
	height: 140px;
}